<!DOCTYPE html>
<html>
<head>
	<title>Jeopardy</title>
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
     <style>
     	body {
     		margin:20%;
     		margin-top:5%;
     	}
     .takki {
     	padding:10%;
     	margin:2%;
     }
     #scoreTable {
     	width:80%;
     	margin:10%;
     }

     .alert {
     	font-size:30px;
     }
     </style>

</head>
<body>
	 <div class="jumbotron">
        <h1>Verkefni 5</h1>
         <h3 id="playerName"></h3>
         <div id='answerBox'></div>
         <select id="categorySelect" class="form-control"></select>

       <!-- <button id="categoryBtn" class="btn btn-lg btn-primary btn-block" type="button">Get Categories</button>-->
      </form>
      </div>
     <div id="scoreBoard">
     	<table id="scoreTable" class="table"></table>
     </div>

	<script>
		$(function() {
		    getScore()
		    getName()
		    getCategories()
			$('#categorySelect').hide()
			//Random question
		});

		$('#categorySelect').change(function() {
			var id = $(this).val();
			category(id);
		});

		function getCategories() {
			$.ajax({
		            url: '/getCategories',
		            data: $('form').serialize(),
		            dataType: 'json',
		            type: 'GET',
		            success: function(response) {
		            	$('#answerBox').html('');
						
		            	$('#categorySelect').append('<option disabled selected value> -- select a category -- </option>')
		            	for(i = 0; i < response.length; i++) {
		            		$('#categorySelect').append('<option value="'+ response[i]['id'] + '">'+ response[i]['title'] + '</option>')

		            	$('#categorySelect').show()
		            	}
		                console.log(response);
		            },
		            error: function(error) {
		                console.log(error);
		            }	
			});
		}

		function getName() {
                $.ajax({
                    url: '/getPlayerName',
                    dataType: 'json',
                    type: 'GET',
                    success: function (response) {
                        $('#playerName').html('');
                        $('#playerName').append('It is your turn ' + response + ', please select a category and difficulty');
                    },
                    error: function (error) {
                        console.log(error);
                    }
        		});
        	}


		function getScore() {
                $.ajax({
                    url: '/getScoreBoard',
                    dataType: 'json',
                    type: 'GET',
                    success: function (response) {
                        console.log(response)
                        $('#scoreTable').html('')
                        for (iter in response){
                            console.log(response[iter])
                            $('#scoreTable').append('<tr> <th>' + response[iter][0] + '</th> <th> ' + response[iter][1] + '</tr>');
                        }
                        
                    }
                });
            }

		$(document).on('click', '.takki', function(){
			var id = $(this).attr('id')
			var answer = $('#answer' + id).val()
			console.log(answer)
			console.log(id)
			$.ajax({
				url: '/submitAnswer',
				data: {'answer': answer, 'id': id},
				datatype: 'json',
				type: 'GET',
				success: function(response) {
					result = response['result']
					$('.jumbotron').html('')
					if (result.toString() == 'false') {
						$('.jumbotron').append('<div class="alert alert-danger alert-dismissible"><a href="/game" class="close" data-dismiss="alert" aria-label="close">&times;</a>Not the right answer. The right answer is: ' + response['correctAnswer'] + '</div>')
					}
					else {
						$('.jumbotron').append('<div class="alert alert-success alert-dismissable">  <a href="/game" class="close" data-dismiss="alert" aria-label="close">&times;</a>Correct!</div>')
					}
					getScore()
                    getName()
				}
			})
		});
	

	
	function getValue(valID) {
		$('#questionBox' + valID).show()
		$('#questionBox'+ valID).append('<button id="' + valID + '" class="takki btn btn-primary">Submit!</button>')
	}

	function category(catID) {
		var category = $('#categorySelect option:selected').text()
		$('#categorySelect').hide()
		$('#categoryBtn').hide()
		$.ajax({
			url:'/getCategory',
			data : {'data':catID}, 
			dataType: 'json',
				type: 'GET',	
			success: function(response) {
				console.log(response['clues'])
				$('#answerBox').html('');
				$('#answerBox').append('<p>' + category + '</p>')
				for (i = 0; i < response['clues'].length;i++) {
					$('#answerBox').append('<button onClick="getValue(' + response['clues'][i]['id'] + ')" id="' + response['clues'][i]['id'] + '" class="btn btn-primary">$' + response['clues'][i]['value'] + '</button>')
					}
				for (i = 0; i < response['clues'].length;i++) {
					$('#answerBox').append('<div id="questionBox' + response['clues'][i]['id'] + '"></div>')
					$('#questionBox' + response['clues'][i]['id']).append('<p id="q' +response['clues'][i]['id'] + '">' + response['clues'][i]['question'] + '</p>')
					$('#questionBox' + response['clues'][i]['id']).append('<input type="text" id="answer' + response['clues'][i]['id'] + '" class="form-control">')
					$('#questionBox' + response['clues'][i]['id']).hide()
				}
				},

		});
	};	

	</script>
</body>
</html>


