<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create your game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .dropup{
            margin-left: 90px;
            margin-top: 120px;
        }
    </style>
</head>
<body>
    <h3>Create Game</h3>
        <div class="dropup">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">How many Players?
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
        </div>
        <div>
            <form id="players"></form>
        </div>

        <script>
            $(".dropdown-menu li a").click(function(){
                $(this).addClass('selectedLi');
                var selText = $(this).text();
                var num = parseInt(selText);
                $('#players').html('');
                for (i = 1; i <= num; i++) {
                    $('#players').append('<div class="form-group">' + '<label for="' + i + '">Name:</label>' + '<input ' + 'type="email" class="form-control" ' + 'value="Player' + i + '" ' + 'id="' + i + '"' + '>' + '</div>');
                }
                $('#players').append('<button type="submit" class="btn btn-default">Continue</button>')
            });
        </script>
</body>
</html>