<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create your game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            text-align:center;
            margin-left:10%;
            margin-right:10%;
        }
        ul {
            text-align:center;
            margin-left:10%;
            margin-right:10%;
        }

    </style>
</head>
<body>
    <h3>Create Game</h3>
    <div class='jumbotron'>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">How many Players?
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
        </div>
    </div>
        <div>
            <form method='POST' action='/getPlayers' id="players"></form>
        </div>

        <script>

            $(document).ready(function () {
               $(".dropdown-menu li a").click(function(){
                $(this).addClass('selectedLi');
                var selText = $(this).text();
                var num = parseInt(selText);
                $('#players').html('');
                for (i = 1; i <= num; i++) {
                    $('#players').append('<div class="form-group">' + '<label for="' + i + '">Name:</label>' + '<input ' + 'type="text" class="form-control" ' + 'name="Player' + i + '" ' + 'id="' + i + '"' + '>' + '</div>');
                }
                $('#players').append('<button class="btn btn-default">Continue</button>')
                });

              });
        </script>
</body>
</html>